:root {
    --accentColor: #333;

    --nav_textColor_normal: #fff;
    --nav_textColor_hoover: #ff9600;

    --cookie_banner_background: #fff;
    --cookie_banner_buttonColor: #0e4dec;
    --cookie_banner_buttonColor_hover: #1241ba;
    --cookie_banner_button_fontcolor: #fff;
    --cookie_banner_boxShadow: rgba(51,51,51,0.20);

    --logoPath: url("../media/logo_white.svg");


    /** Textstyling Options */

    --h1_fontsize: 1.5em;
    --regular_fontweight: normal;
    --bordersize: 0.03em;
    --borderstroke: solid;
    --regular_padding: 0.6em;
    --fontColor: #333;
    --fontsize: 0.8em;
}