:root {
    --accentColor: #333;
    --textColor: #fff;

    --nav_textColor_normal: #fff;
    --nav_textColor_hoover: #ff9600;

    --cookie_banner_background: #fff;
    --cookie_banner_buttonColor: #0e4dec;
    --cookie_banner_buttonColor_hover: #1241ba;

    --logoPath: url("../media/logo_white.svg");
}