@media screen and (min-width: 600px) {

    body {
        overflow: auto;
    }

    #app .item {
        min-width: 100vw;
    }

    #app .item header nav input[type='checkbox'], nav label {
        display: none;
    }

    #app .item main .content {
        margin: 0 auto;
        width: 850px;
        padding: 1.5em;
    }
    
}