@media screen and (min-width: 600px) {

    body {
        overflow: auto;
    }

    #app .item {
        min-width: 100vw;
    }

    #app .item header nav input[type='checkbox'], nav label {
        display: none;
    }

    #app .item header nav ul {
        list-style: none;
    }
    
    #app .item header nav ul li {
        display: inline-flex;
        display: -webkit-inline-flex;
        margin: 0 0.6em;
    }
    
    
    #app .item header nav ul li a {
        color: var(--nav_textColor_normal);
        text-decoration: none;
    }
    
    #app .item header nav ul li a:hover {
        color: var(--nav_textColor_hoover);
        text-decoration: none;
    }

    #app .item main .content {
        margin: 0 auto;
        width: 850px;
        padding: 1.5em;
    }
    
} 