* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    -webkit-flex-direction: column;
}

#app .item {
    flex: 0 1 auto;
}

#app .item header {
    display: flex;
    display: -webkit-flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    min-width: 100vw;
    justify-content: space-between;
    padding: 1.0em 0.6em 1.2em 0.6em;
}

#app .item header .logo {
    justify-content: flex-start;
    padding: 0.6em;
}

#app .item header nav {
    justify-content: flex-end;
    padding-top: 1.0em;
    padding-bottom: 0.5em;
}

#app .item main {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

#app .item main .flex-item {
    padding: 1.0em;
    min-width: 100vw;
}