@font-face {
    font-family: 'Roboto';
    src: url('../media/Roboto-Regular.ttf') format('truetype');
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    letter-spacing: 0.05em;
    line-height: 1.6em;
}