@font-face {
    font-family: 'Roboto';
    src: url('../media/Roboto-Regular.ttf') format('truetype');
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    letter-spacing: 0.05em;
    line-height: 1.6em;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0.6em;
    background-color: #333;
    color: #fff;
}

.logo {
    font-size: 2em;
    font-weight: bold;
}

nav {
    justify-content: space-between;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-flex;
    margin: 0 0.6em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 auto;
    max-width: 850px;
    padding: 1.3em;
}

footer {
    flex: 0;
    background-color: #333;
    color: #fff;
    padding: 0.6em;
    text-align: center;
}

@media screen and (max-width: 600px) {

    input[type='checkbox']:not(:checked)+ul {
        display: none;
    }

    nav {
        display: flex;
    }

    nav ul {
        animation: fade 0.8s;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        backdrop-filter: blur(10px);
        background: rgba(60, 60, 60, 0.5);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        -webkit-animation: fade 0.8s;;
        -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        -webkit-backdrop-filter: blur(10px);
    }
    
    nav ul li {
        display: block;
        margin-bottom: 0;
        justify-content: space-between;
        text-align: center;
        padding: 1.5em;
        border-bottom: 1px solid rgb(255 255 255 / 20%);
    }

    nav ul li a {
        text-decoration: none;
        font-size: 1.6em;
    }

    nav ul li a:hover {
        animation: fade 1.2s;
        color: burlywood;
        -webkit-animation: fade 0.8s;;
    }

    
    @keyframes fade {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
}

@media screen and (min-width: 600px) {

    nav input[type='checkbox'], nav label {
        display: none;
    }
    
}