@media screen and (max-width: 600px) {
    body {
        overflow: auto;
    }

    #app .item {
        min-width: 0;
    }

    #app .item header nav input[type='checkbox']:not(:checked) + ul {
        display: none;
    }

    #app .item header nav input[type='checkbox'] {
        opacity: 0;
        width: 0;
        height: 0;
    }

    #app .item header nav label {
        color: var(--nav_textColor_normal);
    }

    #app .item header nav label:hover {
        color: var(--nav_textColor_hoover);
    }

    #app .item header nav ul {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        min-height: 100vh;
        animation: fade 0.8s;
        backdrop-filter: blur(10px);
        background: rgba(60, 60, 60, 0.5);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        -webkit-animation: fade 0.8s;
        -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        -webkit-backdrop-filter: blur(10px);
        -moz-animation: fade 0.8s;
    }
    
    #app .item header nav ul li {
        display: block;
        margin-bottom: 0;
        justify-content: space-between;
        text-align: center;
        padding: 1.5em;
        border-bottom: 1px solid rgb(255 255 255 / 20%);
    }
    
    
    #app .item header nav ul li a {
        color: var(--nav_textColor_normal);
        font-size: 1.6em;
        text-shadow: 1px 1px 10px var(--accentColor);
        text-decoration: none;
    }
    
    #app .item header nav ul li a:hover {
        color: var(--nav_textColor_hoover);
        text-decoration: none;
    }

    #app .item main .content {
        padding: 1.5em;
    }

    .cookie-banner {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0.6em;
        display: none;
        animation: fade 0.8s;
        background-color: var(--cookie_banner_background);
        border-top: 1px solid var(--accentColor);
        -webkit-animation: fade 0.8s;
        -moz-animation: fade 0.8s;
    }
}