body {
    background: var(--background);
    color: var(--fontColor);
}

#app .item header {
    background: var(--accentColor);
}

#app .item header .logo {
    font-size: 2.0em;
    font-weight: bold;
    background-image: var(--logoPath);
    background-repeat: no-repeat;
    background-size: cover;
}

#app .item header nav {
    font-size: 1.3em;
    color: var(--textColor);
}

.cookie-banner .button .cookie-btn:hover {
    background-color: var(--cookie_banner_buttonColor_hover);
}

.border-bottom {
    border-bottom: var(--bordersize) var(--borderstroke) var(--accentColor);
}

.regular-padding-bottom {
    padding-bottom: var(--regular_padding_bottom);
}

.regular-padding-top {
    padding-top: var(--regular_padding_top);
}

.regular-weight {
    font-weight: var(--regular_fontweight);
}

.bold-weight {
    font-weight: bold;
}

.accent-fontcolor {
    color: var(--accentColor)
}

.fontsize-h1 {
    font-size: var(--h1_fontsize);
}