#app .item header {
    background: #333;
}

#app .item header .logo {
    font-size: 2.0em;
    font-weight: bold;
    color: #fff;
}

#app .item header nav {
    font-size: 1.3em;
    color: #fff;
}

#app .item main .content {
    margin: 0 auto;
    margin-top: 1.5em;
    padding: 0.6em;
    width: 850px;
}