#app .item header {
    background: var(--accentColor);
}

#app .item header .logo {
    font-size: 2.0em;
    font-weight: bold;
    color: var(--textColor);
}

#app .item header nav {
    font-size: 1.3em;
    color: var(--textColor);
}

.cookie-banner .text {
    min-width: 80%;
    justify-content: flex-start;
    padding: 0.3em;
}

.cookie-banner .button {
    min-width: 20%;
    justify-content: flex-end;
    padding: 1.0em;
}

.cookie-banner .button .cookie-btn {
    background-color: var(--cookie_banner_buttonColor);
    border-radius: 0.5em;
    border-style: none;
    box-sizing: border-box;
    color: var(--textColor);
    cursor: pointer;
    padding: 0.6em 1.0em;
    touch-action: manipulation;
}

.cookie-banner .button .cookie-btn:hover {
    background-color: var(--cookie_banner_buttonColor_hover);
}